footer
	.footer-wrapper
		.footer_logo
			img.footer_logo_img(alt="Логотип")
		ul.footer-block_social
			li: a(href="#")
			li: a(href="#")
			li: a(href="#")
		.footer-navi
			+footernavigation(itemNav)
