header
	.header-wrapper
		div.top-block
			ul.top-block_social
				li: a(href="#")
				li: a(href="#")
				li: a(href="#")
			div.top-block_adres
			div.top-block_phone
		div.bottom-block
			div.logo
				img.logo-img(alt="Логотип")
			.search
				input.search-inpt
			a.maps(href="#")
			a.history-order(href="#")
			a.basket(href="#")



