header
	.header-wrapper
		.top-block
			.top-block__wrap
				ul.top-block__social
					li.social__item: a.social__link(href="#")
					li.social__item: a.social__link(href="#")
					li.social__item: a.social__link(href="#")
				.top-block_adres
				.top-block_phone
		.bottom-block
			.bottom-block__wrap
				.logo.inln
					img.logo-img(src="app/img/cooltech.png",alt="Логотип")
				.search.inln
					input.search-inpt
				.nav-site.inln
					a.maps(href="#") Карта проезда
					a.history-order(href="#") История заказов
					a.basket(href="#") Корзина



