@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*@import "../bower/normalize-scss/sass/_normalize.scss";*/
.main-navlist {
  width: 1100px;
  margin: 0 auto;
  font-size: 0;
}

.nav-list__item {
  display: inline-block;
  height: 52px;
  background: #ffffff;
}

.nav-list__item a {
  font-size: 15px;
}

.nav-list__item.action {
  background: #ff6602;
}

.nav-list__item.action a {
  color: white;
  font-size: 15px;
}

.nav-list__item.action:hover {
  background: #ff6602;
  color: white;
}

.nav-list__item:hover {
  background: #e4e2e2;
}

.nav-list__item__link {
  display: block;
  color: black;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 25px;
}

/*╤Е╨╗╨╡╨▒╨╜╤Л╨╡ ╨║╤А╨╛╤И╨║╨╕*/
.Breadcrumb {
  margin-bottom: 30px;
}

.crumb__item {
  display: inline-block;
  padding-right: 5px;
}

.crumb__item:after {
  content: ">";
  display: inline-block;
  vertical-align: middle;
}

.crumb__item:last-child:after {
  content: "";
}

.crumb__link {
  padding-right: 5px;
  color: black;
}

.crumb__link.active {
  color: #ff6602;
}

/*╤Е╨╗╨╡╨▒╨╜╤Л╨╡ ╨║╤А╨╛╤И╨║╨╕*/
.Breadcrumb {
  margin-bottom: 30px;
}

.crumb__item {
  display: inline-block;
  padding-right: 5px;
}

.crumb__item:after {
  content: ">";
  display: inline-block;
  vertical-align: middle;
}

.crumb__item:last-child:after {
  content: "";
}

.crumb__link {
  padding-right: 5px;
  color: black;
}

.crumb__link.active {
  color: #ff6602;
}

.content__title {
  font-size: 20px;
  margin-bottom: 34px;
}

/*aside*/
.wrap-aside {
  max-width: 333px;
}

.aside-typegoods {
  border: solid 1px #dee1e4;
  border-radius: 4px;
  margin-bottom: 40px;
}

.typegoods__item {
  background: #fbfbfb;
}

.typegoods__link {
  padding: 15px 30px;
  color: #7f7f7f;
  display: block;
  border: solid 1px #dee1e4;
}

.lnk-active {
  background: #d9e5ea;
}

.asidebar-list {
  border: solid 1px #dee1e4;
  border-radius: 4px;
}

.sidebar-item {
  background: #fbfbfb;
}

.sidebar__item__titile {
  padding: 15px 0 15px 30px;
}

.sidebar__title__link {
  color: black;
  font-size: 20px;
}

.sidebar__title__link:after {
  content: url(../img/btn-accardeon.png);
  float: right;
  padding-right: 9px;
}

.sidebar-item__content {
  padding-left: 30px;
}

.exist__list {
  padding-bottom: 10px;
}

.exist__item {
  padding-bottom: 5px;
}

.exist__item__input {
  display: none;
}

.exist__custom-input {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 14px;
  border: 3px solid #dee1e4;
  margin-right: 10px;
}

.exist__custom-text {
  display: inline-block;
}

/*.exist__item__label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
 	border-radius: 14px;
 	border: 3px solid #dee1e4;
    margin-right: 10px;  
}*/
/*.exist__item__input:checked + .exist__item__label:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
 	border-radius: 14px;
 	border: 3px solid #ff6602;
    margin-right: 10px;  
    background:#ff6602;
}*/
.exist__custom-btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 14px;
  border: 3px solid #dee1e4;
  margin-right: 10px;
  position: relative;
  top: 7px;
}

.exist__custom-btn-active {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 14px;
  border: 3px solid #ff6602;
  margin-right: 10px;
  position: relative;
  top: 7px;
}

.exist__custom-lbl {
  display: inline-block;
}

/*aside*/
.wrap-aside {
  max-width: 333px;
}

.aside-typegoods {
  border: solid 1px #dee1e4;
  border-radius: 4px;
  margin-bottom: 40px;
}

.typegoods__item {
  background: #fbfbfb;
}

.typegoods__link {
  padding: 15px 30px;
  color: #7f7f7f;
  display: block;
  border: solid 1px #dee1e4;
}

.lnk-active {
  background: #d9e5ea;
}

.asidebar-list {
  border: solid 1px #dee1e4;
  border-radius: 4px;
}

.sidebar-item {
  background: #fbfbfb;
}

.sidebar__item__titile {
  padding: 15px 0 15px 30px;
}

.sidebar__title__link {
  color: black;
  font-size: 20px;
}

.sidebar__title__link:after {
  content: url(../img/btn-accardeon.png);
  float: right;
  padding-right: 9px;
}

.sidebar-item__content {
  padding-left: 30px;
}

.exist__list {
  padding-bottom: 10px;
}

.exist__item {
  padding-bottom: 5px;
}

.exist__item__input {
  display: none;
}

.exist__custom-input {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 14px;
  border: 3px solid #dee1e4;
  margin-right: 10px;
}

.exist__custom-text {
  display: inline-block;
}

/*.exist__item__label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
 	border-radius: 14px;
 	border: 3px solid #dee1e4;
    margin-right: 10px;  
}*/
/*.exist__item__input:checked + .exist__item__label:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
 	border-radius: 14px;
 	border: 3px solid #ff6602;
    margin-right: 10px;  
    background:#ff6602;
}*/
.exist__custom-btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 14px;
  border: 3px solid #dee1e4;
  margin-right: 10px;
  position: relative;
  top: 7px;
}

.exist__custom-btn-active {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 14px;
  border: 3px solid #ff6602;
  margin-right: 10px;
  position: relative;
  top: 7px;
}

.exist__custom-lbl {
  display: inline-block;
}

/*╨С╤А╨╡╨╜╨┤*/
.brands-list {
  margin-bottom: 17px;
}

.brand-chkbx {
  display: none;
}

.brand__custom-chkbx {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

.brand__custom-lbl {
  margin-left: 8px;
  display: inline-block;
}

/*Price*/
.price .sidebar-item__content input {
  display: inline-block;
  width: 82px;
  border: #dee1e4 1px solid;
  outline: none;
  line-height: 27px;
  padding: 0 10px;
  border-radius: 4px;
  margin-left: 12px;
  font-size: 14px;
}
.price .sidebar-item__content label {
  display: inline-block;
}

.soc-sprite, .soc-FB, .soc-VK, .soc-tw {
  background-image: url('../img/soc-see24dd5328.png');
  background-repeat: no-repeat;
}

.soc-FB {
  background-position: 0 -31px;
}
.soc-FB:hover, .soc-FB.FB-hover {
  background-position: 0 0;
}

.soc-VK {
  background-position: 0 -93px;
}
.soc-VK:hover, .soc-VK.VK-hover {
  background-position: 0 -62px;
}

.soc-tw {
  background-position: 0 -155px;
}
.soc-tw:hover, .soc-tw.tw-hover {
  background-position: 0 -124px;
}

.aside-sprite, .aside-brand-box-checked, .aside-brand-box, .aside-btn-accardeon {
  background-image: url('../img/aside-s2630f066aa.png');
  background-repeat: no-repeat;
}

.aside-brand-box-checked {
  background-position: 0 0;
}

.aside-brand-box {
  background-position: 0 -48px;
}
.aside-brand-box:hover, .aside-brand-box.brand-box-hover {
  background-position: 0 -24px;
}

.aside-btn-accardeon {
  background-position: 0 -72px;
}

/*╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡*/
/*╨д╤Г╨╜╨║╤Ж╨╕╨╛╨╜╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕*/
.inlnblck {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*╨д╤Г╨╜╨║╤Ж╨╕╨╛╨╜╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ ╨║╨╛╨╜╨╡╤Ж*/
html {
  height: 100%;
}

body {
  background: #f4f4f4;
}

.top-block {
  background: #ffffff;
  height: 77px;
}

.social__item {
  margin-left: 17px;
  display: inline-block;
}

.social__item:first-child {
  margin-left: 0;
}

.social__link {
  display: block;
  width: 27px;
  height: 27px;
}

.bottom-block {
  background: #f4f4f4;
  height: 96px;
}

.top-block__wrap {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bottom-block__wrap {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contacts__adres:before {
  display: inline-block;
  content: url("../img/mappin.png");
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.contacts__phone {
  margin-left: 80px;
}

.contacts__phone:before {
  display: inline-block;
  content: url("../img/telephone.png");
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.logo {
  overflow: hidden;
  width: 238px;
  height: 36px;
}

.logo-img {
  width: 100%;
}

.search {
  vertical-align: top;
  height: 34px;
}

.search__inpt {
  width: 290px;
  height: inherit;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: solid 1px #dee1e4;
  border-right: none;
  padding: 10px;
}

.search__btn {
  width: 80px;
  height: inherit;
  background: #ff6602;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  color: white;
}

.nav-site a {
  padding-top: 8px;
  display: inline-block;
  vertical-align: middle;
  color: #333333;
  margin-left: 33px;
}

/*╨Ю╤Б╨╜╨╛╨▓╨╜╨╛╨╣ ╨▒╨╗╨╛╨║*/
.main-nav-wrapper {
  margin-bottom: 30px;
  background: #ffffff;
}

.main-content {
  width: 1100px;
  margin: 0 auto;
}
