/*aside*/
.wrap-aside{
	max-width:333px;

}
.aside-typegoods{
	border:solid 1px #dee1e4;
	border-radius: 4px;
	margin-bottom:40px;
}

.typegoods__item{
	background:#fbfbfb;
	
}

.typegoods__link{
	padding: 15px 30px;
    color: #7f7f7f;
    display: block;
    border:solid 1px #dee1e4;
}

.lnk-active{
	background: #d9e5ea;
}


.asidebar-list{
	overflow: hidden;	
	border:solid 1px #dee1e4;	
	border-radius: 4px;
}

.sidebar-item{
	background:#fbfbfb;
	border-top:1px solid #dee1e4;
	&:first-child{
		border-top: 0 none;
	}
}

.sidebar__item__title{
	padding: 15px 0 15px 30px;
}
.sidebar__title__link{
	display:block;
	color:black;
	font-size:20px;
}
.sidebar__item__title{
	&:after{
	    display: block;
	    content: "";
	    background-image: url('../img/aside-s78ce8c9693.png');
	  	background-repeat: no-repeat;
	    background-position: 0 0;
	    width: 20px;
	    height: 15px;
	   	position: relative;
	    top: -16px;
	    left: 263px;
	}
}

.sidebar-item__content{
	padding-bottom: 20px;
	padding-left:30px;
}

.hideblock{
	overflow: hidden; 
	display: none;
}

.exist__list{
    padding-bottom: 10px;
}


.exist__item{
	padding-bottom: 5px;
}
.exist__item__input{
	display:none;
}

.exist__custom-input{
	display: inline-block;
	width: 16px;
    height: 16px;
 	border-radius: 14px;
 	border: 3px solid #dee1e4;
    margin-right: 10px; 
}

.exist__custom-text{
	display: inline-block;
}

.exist__custom-btn{
	display: inline-block;
    width: 16px;
    height: 16px;
 	border-radius: 14px;
 	border: 3px solid #dee1e4;
    margin-right: 10px;  
    position: relative;
    top: 7px;
}

.exist__custom-btn-active{
	display: inline-block;
    width: 16px;
    height: 16px;
 	border-radius: 14px;
 	border: 3px solid #ff6602;
    margin-right: 10px; 
    position: relative;
    top: 7px; 
}

.exist__custom-lbl{
	display: inline-block;
}

/*Список выбора*/

.choice-list{
	margin-bottom: 17px;
}

.choice-lbl{
	cursor:pointer;
}

.choice-chkbx{
	display:none;
}
.exist__item__input:checked + .exist__custom-btn {
    border: 3px solid #ff6600;
}
.exist__item__input:checked + .exist__custom-btn:after{
	opacity: 1;
}
.exist__custom-btn:after{
	content: '';
    height: 9px;
    width: 9px;
    border-radius: 5px;
    background-color: #f60;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.choice-chkbx:checked + .aside-choice-box {
   background-position: 0 -16px;
  }
.choice__custom-chkbx{
	display:inline-block;
	width:20px;
	height:20px;
	position: relative;
	top:5px;	
}

.choice__custom-lbl{
    margin-left: 8px;
	display:inline-block;
}

.resetfilter__link{
	color:#5db2fc;
	text-decoration: underline;
}

/*Price*/

.price {
	.sidebar-item__content{
			.pricefilter-wrap{
				margin-bottom: 20px;
				input{
					display:inline-block;
				    
				    width: 82px;
				    border: #dee1e4 1px solid;
				    outline: none;
				    line-height: 27px;
				    padding: 0 10px;
				    border-radius: 4px;
				    margin-left: 12px;
				    font-size: 14px;
				}
				label{
					display:inline-block;
				}
			}
	}
}

/*Color*/

$sizecolorcub:37px;

.choice-color__item{
	display:inline-block;
	margin-right: 19px;
    margin-top: 17px;
				&:hover{
						//border: solid 2px #ff6600;
						background-color: #ff6e35;
					}
	.color-link{
			border: solid 1px #dee1e4;
			display:block;
			height:$sizecolorcub;
			width:$sizecolorcub;

		}
}
