/*хлебные крошки*/

.Breadcrumb{
	margin-bottom:21px;
}
.crumb__item{
	display: inline-block;
	 padding-right: 5px;
}

.crumb__item:after{
	content:">";
	display: inline-block;	
	vertical-align: middle;
}
.crumb__item:last-child:after{
	content:"";
}

.crumb__link{
	padding-right:5px;
	color:black;
}

.crumb__link.active{
		color:#ff6602;
}

.content__title{
	font-size: 22px;
	margin-bottom:26px;
}


/*attantion text*/

.important-info__title{
	font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}
.important-info__text{
	p{
		font-size: 14px;
		line-height:20px;
		color:black;
	}
}
