@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-navlist{
	width: 1100px;
	margin:0 auto;
	font-size:0;
}
.nav-list__item{
	display:inline-block;
	/* height:52px; */
	background:#ffffff;
}

.nav-list__item a{
	font-size:17px;
	color:#414141;
}

.nav-list__item.action{
	background:#ff6602;	
	
}

.nav-list__item.action a{
	color:white;
	font-size:17px;
}

.nav-list__item.action:hover{
	background:#ff6602;	
	color:white;
}

.nav-list__item:hover{
	background:#e4e2e2;
}

.nav-list__item__link{
	padding: 15px 10px;
	display:block;
	color:black;
	/* @include vertical-align();
	padding:0 10px; */
}

