@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-navlist{
	width: 1100px;
	margin:0 auto;
	font-size:0;
}
.nav-list__item{
	display:inline-block;
	height:52px;
	background:#ffffff;
}

.nav-list__item a{
	font-size:15px;
}

.nav-list__item.action{
	background:#ff6602;	
	
}

.nav-list__item.action a{
	color:white;
	font-size:15px;
}

.nav-list__item.action:hover{
	background:#ff6602;	
	color:white;
}

.nav-list__item:hover{
	background:#e4e2e2;
}

.nav-list__item__link{

	display:block;
	color:black;
	@include vertical-align();
	padding:0 25px;
}

/*хлебные крошки*/

.Breadcrumb{
	margin-bottom:30px;
}
.crumb__item{
	display: inline-block;
	 padding-right: 5px;
}

.crumb__item:after{
	content:">";
	display: inline-block;	
	vertical-align: middle;
}
.crumb__item:last-child:after{
	content:"";
}

.crumb__link{
	padding-right:5px;
	color:black;
}

.crumb__link.active{
		color:#ff6602;
}