/*соц кнопки*/
.header__social-link{
		display:block;
	width:17px;
	height:17px;	
	margin-top:7px;
}

.header__social-item{
	margin-left:12px;
	width:26px;
	height:26px;
	border-radius:26px;
	background-color:#000;
	display: inline-block;
	&:first-child{
		margin-left:0;
	}
}

.social-fb-header{
	margin-left:10px;
}
.social-vk-header{
	margin-left:9px;
}
.social-tw-header{
	margin-left:5px;
}
.footer__social-link{
	display:block;
	width:27px;
	height:27px;	
	margin-top:12px;
}



.footer__social-list{
	 
}



.footer__social-item{
	margin-left:19px;
	width:44px;
	height:44px;
	border-radius:22px;
	display: inline-block;
	background-color:#fff;
}

.social-item:first-child{
	margin-left:0
}


.social-fb{
	margin-left:16px;
}
.social-vk{
	margin-left:15px;
}
.social-tw{
	margin-left:10px;
}