-var itemSide = ["Наличие в магазинах","Бренды","Цена","Цвет","Операционные системы"]
.main-nav-wrapper
	+ topnavigation(itemNav)
.main-content
	.main-content__wrap
		.Breadcrumb
			.crumb__item.level1
				a.crumb__link(href="#") Главная
			.crumb__item.level2
				a.crumb__link(href="#") Каталог
		h1.body_title хуй
		ul.sidebar
			each item in itemSide
				li.sidebar-item: a(href="#") #{item}
		.body_content
			header.content-nav-bar
			.main-content
		.important-info
			h1.important-info_title Важная информация
			.important-info_content


