-var itemNav = ["Планшеты","Мобильные телефоны","Mp3 плееры","Персоональные комптютеры","Ноутбуки","Аксессуары","Бытовая техника"]

mixin footernavigation(items)
	each item in items
		a(href="#") #{item}
		
footer
	.footer-wrapper
		.footer_logo
			img.footer_logo_img(alt="Логотип")
		ul.footer-block_social
			li: a(href="#")
			li: a(href="#")
			li: a(href="#")
		.footer-navi
			+footernavigation(itemNav)
