ul.products__list#products__list
	- for (var i = 0; i < 9; i++)
		li.products__item
			.products__item-inner.clearfix
				.products__item-left.left
					.products__slideshow
						.products__slideshow-block
							a(href="#").products__slideshow-display
								img(src="http://lorempixel.com/200/200/technics/6" alt="").products__slideshow-img
							ul.products__slideshow-thumbs
								- for (var j = 0; j < 3; j++)
									li.products__slideshow-item
										a(href="#").products__slideshow-link
											img(src="http://lorempixel.com/45/45/technics/" + i alt="").products__slideshow-thumbs-img
						.products__article
							.products__article-word Артикул
							.products__article-num 9874654 
					.products__desc
						.products__desc-title Смартфон SAMSUNG GT-I9301i Galaxy s3
						ul.products__desc-options
							li.products__desc-item.colored
								.products__desc-item-title Тип сим карты
								.products__desc-item-param Микро сим
							li.products__desc-item
								.products__desc-item-title Количество сим карт
								.products__desc-item-param 1
							li.products__desc-item.colored
								.products__desc-item-title Цвет
								.products__desc-item-param Белый
							li.products__desc-item
								.products__desc-item-title ОС
								.products__desc-item-param Андроид
							li.products__desc-item.colored
								.products__desc-item-title Связь 3G
								.products__desc-item-param Есть
							li.products__desc-item
								.products__desc-item-title Связь 4G LTE
								.products__desc-item-param нет
							li.products__desc-item.colored
								.products__desc-item-title GPS модуль
								.products__desc-item-param Есть
						.products__rating
							ul.products__rating-stars
								li.products__rating-stars-item.products__rating-stars-item-filled
								li.products__rating-stars-item.products__rating-stars-item-filled
								li.products__rating-stars-item.products__rating-stars-item-filled
								li.products__rating-stars-item.
								li.products__rating-stars-item.
							.products_rating-amout 3
				.products__right.right
					.products__info
						span.products__price 11290
							i.rub
					.products__info-bottom
						a(href="#").products__buy-btn В корзину
						.products__availability В наличии