-var itemNav = ["Планшеты","Мобильные телефоны","Mp3 плееры","Персоональные комптютеры","Ноутбуки","Аксессуары","Бытовая техника"]

doctype html
html
	head
		title Cooltech
		meta(charset='utf-8')
		//Просим IE переключиться в последний режим
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		//Корректное масштабирование на разных устройствах 
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- FAVICON
		link(rel='shortcut icon' href='app/img/favicon.png' type='image/x-icon')
		link(rel='icon' href='app/img/favicon.png' type='image/x-icon')
		//style
		link(rel="stylesheet" type="text/css" href="app/css/style.css")
		//- modernizer
		//- script(src='app/bower/modernizer/modernizr.js')

		

	body
		header
			include _header
		include _navi
		.main-content
			.Breadcrumb
				.crumb__item.level1
					a.crumb__link(href="#") Главная
				.crumb__item.level2
					a.crumb__link.active(href="#") Каталог
			h1.content__title Мобильные телефоны
			.main-content__wrap.clearfix
				include _filter
				.content.right
					.sort.clearfix
						.sort__left.left
							.sort__select-wrap
								.sort__title Сортировать по
								.sort__select
									select.sort__select-elem
										-var options = ["по цене","по популярности"]
										each option in options
											option(value="")= option
						.sort__right.right
							.sort__title Вид каталога
							.sort__view
								ul.sort__view-list
									-var views = ["rows","grids","lines"]
									each item in views
										if item == "rows"
											li(class="sort__view-item active sort__view-" + item data-view= item)
												a(href="#").sort__view-link
													.sort__view-icon
										else
											li(class="sort__view-item sort__view-" + item data-view= item)
												a(href="#").sort__view-link
													.sort__view-icon
					.products
						include _products
						.pagination
							ul.pagination__list
								li.pagination__item.pagination__item-prev
									a(href="#").pagination__link
										.pagination__mark
								- for(var i = 1; i < 4; i++)
									li.pagination__item
										a(href="#").pagination__link
											.pagination__mark= i
								li.pagination__item.pagination__item-next
									a(href="#").pagination__link
										.pagination__mark

			.important-info
					h1.important-info__title
						|Важная информация
					.important-info__text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates commodi officia natus, saepe cumque nemo ratione, a dolorem earum nobis, minus. Nobis ipsa est sequi ab cupiditate, corporis possimus quibusdam!
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates commodi officia natus, saepe cumque nemo ratione, a dolorem earum nobis, minus. Nobis ipsa est sequi ab cupiditate, corporis possimus quibusdam!
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates commodi officia natus, saepe cumque nemo ratione, a dolorem earum nobis, minus. Nobis ipsa est sequi ab cupiditate, corporis possimus quibusdam!
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates commodi officia natus, saepe cumque nemo ratione, a dolorem earum nobis, minus. Nobis ipsa est sequi ab cupiditate, corporis possimus quibusdam!
		include _footer
		script(src="app/bower/jquery/dist/jquery.js")
		script(src="app/js/jquery-ui.min.js")
		script(src="app/js/select2.min.js")
		script(src="app/js/jquery.columnizer.min.js")
		script(src="app/js/main.js")

