-var itemNav = ["Планшеты","Мобильные телефоны","Mp3 плееры","Персоональные комптютеры","Ноутбуки","Аксессуары","Бытовая техника"]

mixin topnavigation(items)
	ul.main-navlist
		each item in items
			if	(item == "Мобильные телефоны" )
				li.nav-list__item.action: a.nav-list__item__link(href="#") #{item}
			else
				li.nav-list__item: a.nav-list__item__link(href="#") #{item}
mixin footernavigation(items)
	each item in items
		a(href="#") #{item}


doctype html
html
	head
		title Cooltech
		meta(charset='utf-8')
		//Просим IE переключиться в последний режим
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		//Корректное масштабирование на разных устройствах 
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//стили
		link(rel="stylesheet" type="text/css" href="app/css/style.css")
		

	body
		include _header
		include _content
		include _footer
