/* line 8, ../../sass/include/navmenu.scss */
.main-navlist {
  width: 1100px;
  margin: 0 auto;
}

/* line 12, ../../sass/include/navmenu.scss */
.nav-list__item {
  display: inline-block;
  height: 52px;
  background: #ffffff;
}

/* line 18, ../../sass/include/navmenu.scss */
.nav-list__item.action {
  background: #ff6602;
}

/* line 23, ../../sass/include/navmenu.scss */
.nav-list__item.action a {
  color: white;
}

/* line 27, ../../sass/include/navmenu.scss */
.nav-list__item.action:hover {
  background: #ff6602;
  color: white;
}

/* line 32, ../../sass/include/navmenu.scss */
.nav-list__item:hover {
  background: #e4e2e2;
}

/* line 36, ../../sass/include/navmenu.scss */
.nav-list__item__link {
  display: block;
  color: black;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 23px;
}
