/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

@mixin absolute-center{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}


@mixin clearfix{
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after{
		clear: both;
	}
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true){
	$sprite-image: sprite-file($map, $sprite);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $sprite);
	background: $sprite-map $sprite-position $repeat;
	  
	// http://compass-style.org/reference/compass/helpers/image-dimensions/
	// Checks to see if the user wants height returned
	@if $height == true{
	  // Gets the height of the sprite-image
	  $sprite-height: image-height($sprite-image);
	  // Returns the height
	  height: $sprite-height;
	}
	// http://compass-style.org/reference/compass/helpers/image-dimensions/
	// Checks to see if the user wants height returned
	@if $width == true{
	  // Gets the height of the sprite-image
	  $sprite-width: image-width($sprite-image);
	  // Returns the width
		width: $sprite-width;
	}
}

/*Переменные*/
$bgcolor1:#ffffff;
$bgcolor2:#f4f4f4;
$mainwidth:1100px;
$clrOrang:#ff6602;
$black:#333333;
/* $body-font: 'Open Sans', sans-serif; */
$body-font: 'Open Sans Regular';
$aside-map: sprite-map('aside/*.png', $spacing:50px);
$views-map: sprite-map('view/*.png', $spacing:50px);
$icons-map: sprite-map('icons/*.png', $spacing:50px);


@import "compass/reset";


/*-----------plagins----------*/
@import "plagins/jquery-ui.min.scss";
@import "plagins/select2.scss";

/*-----------widgets-------------*/

@import "widgets/slider.scss";


/*----------sections-------------*/
@import "include/_fonts.scss";
@import "include/_navmenu.scss";
@import "include/_maincontent.scss";
@import "include/_aside.scss";
@import "include/_footer.scss";
@import "include/_social.scss";
@import "include/_sort.scss";
@import "include/_products.scss";
@import "include/_pagination.scss";

$social-spacing: 15px;
$social-layout:horizontal;
@import "social/*.png";
@include all-social-sprites;


/* $aside-spacing: 5px;
@import "aside/*.png";
@include all-aside-sprites; */


/*Функциональные стили*/

.inlnblck{
	display:inline-block;
}


.left{
	float:left;
}

.right{
	float:right;
}

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}

a{
	text-decoration:none;
}
ul{
	list-style: none;
}


/*Функциональные стили конец*/


html{ height: 100%; }
body{
	background:#f4f4f4;
	font: 16px $body-font;
}


.top-block{
	background:$bgcolor1;
	height:77px;
}

.bottom-block{
	background:$bgcolor2;
	height:95px;
}
.top-block__wrap{
	width:$mainwidth;
	margin: 0 auto;
	@include vertical-align();
}



.bottom-block__wrap{
	width:$mainwidth;
	margin: 0 auto;
	@include vertical-align();
}


.contacts__adres:before{
	content:"";
  display: inline-block;
  /* content: url('../img/mappin.png'); */
  @include get-sprite($icons-map, mappin);
  width: 15px;
  height: 15px;
  margin-right:5px;
}
.contacts__phone{
	margin-left:80px;
}
.contacts__phone:before{
	content:"";
  display: inline-block;
  @include get-sprite($icons-map, telephone);
  width: 15px;
  height: 15px;
  margin-right:5px;
}

.top-block_phone_num{
	margin-right: 4px;
	color:$black;
	font-size: 18px;
}

.top-block__adres__text{
	font-size: 15px;
}

.logo{
	overflow:hidden;
	width:238px;
	height:36px;
}

.logo-img{
	width:100%;
}
.nav-site{
	width:73%;
}
.search{
	vertical-align:top;
	height:34px;
}

.search__inpt{
	width:290px;
	height:inherit;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: solid 1px #dee1e4;
	border-right: none;
	padding:10px;
}

.search__btn{
	margin-left: -5px;
	width:80px;
	height:inherit;
	background:$clrOrang;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: none;
	color:white;
}

.nav-site a{
	padding-top: 8px;
	display:inline-block;
	vertical-align:middle;
	font-size: 16px;
	color:#333333;
	margin-left:38px;
	text-decoration: underline;
}

.header_navi{
	@include inlineblock();
	.active{
		color:$clrOrang;
	}
}

/*Основной блок*/
.main-nav-wrapper{
	margin-bottom: 30px;
	background:$bgcolor1;
}
.main-content{
	width: 1100px;
	margin:0 auto;
}

.main-content__wrap{
	width: 1100px;
	margin:0 auto;
}

.important-info__text{
	margin-bottom:30px;
}

